/*---MIN---*/
@media screen and (min-width: 800px){
    .nav-center{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .nav-header{
            padding: 0;
            
            .logo{
                font-size: $font-size-l;
            }
            .nav-toggle{
                display: none;    
            }
        }

        .links-container{
            height: auto !important;
            
            .links{
                display: flex;
                
                a{
                    padding: 0;
                    margin: 0 0.5rem;

                    &:hover{
                        
                        background: transparent;
                    }    
                }
            }    
        }
    }
}


/*---------------MAX------------------------*/

@media screen and (max-width: 800px){

    .section-slider{
        width: 100% !important;
        margin-top: 0 !important;
        
    }
    /*menu*/
    .filter-btn{
        font-size: 0.8rem !important;
        padding: 2px !important;
    }
    .section-center2{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .reservation{
        flex-direction: column;
        
    }
    .reservation-section{
        width: 90% !important;
    }
    .map{
        width: 90% !important;
    }
    .iframe{
        width: 100% !important;
        
    }
}